@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,100&display=swap');


* {															/* Aplica os valores às propriedades listadas de todos os elementos. */
	padding: 0;
	margin: 0;
}

:root {														/* Cria variáveis globais. */
	--cor-primaria: #F6F6F6;
	--cor-secundaria: #000000;
	--cor-terciaria: #696969;
	--cor-quarternaria: #0000CD;
	
	--fonte-primaria: font-family: 'Roboto', sans-serif;
}

body {
	display: flex;											/* Permite maior controle no posicionamento dos elementos filhos. */
	flex-direction: column;									/* Define a direção dos elementos filhos entre row ou column. */
	box-sizing: border-box;									/* Impede que os elementos filhos contidos no elemento pai ultrapassem os limites do elemento pai. */
	
    font-family: var(--fonte-primaria);
    font-size: 1rem;										/* A unidade rem (1rem = 16px) tem a finalidade de tornar a fonte dinâmica para páginas responsívas. */
    font-weight: 100;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: var(--cor-primaria);
	
	position: fixed;
    top: 0;
    
    width: 100%;
}

main {
	display: flex;
	box-sizing: border-box;
	margin-top: 10%;
}

footer {
	display: flex;
	justify-content: center;
									/* Define a posição dos elementos filhos dentro do elemento pai. */
    position: fixed;
    bottom: 0;
    
	color: var(--cor-primaria);
	background-color: var(--cor-secundaria);
	font-weight: 500;
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	gap: 5px;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
}

div {
	display:flex;
	padding: 0px 5px 0px 5px;
	gap: 5px;
}

a {
    display: flex;
    
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-primaria);
    text-decoration: none;									/* Retira o sublinhado dos links. */
    padding: 5px 5px 5px 5px;								/* Primeiro valor = lado superior, segundo valor = lado direito, terceiro valor = lado inferior, quarto valor = lado esquerdo */
    gap: 25px;												/* Determina o espaçamento entre os elementos filhos contidos no elemento pai. */
    
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-secundaria);    
}

p {
	text-align: justify;
	color: var(--cor-secundaria);
	padding: 0rem 2rem 0rem 2rem;
}

strong {
	font-size: 2rem;
    font-weight: 500;
    color: var(--cor-quarternaria);
}

fieldset {
	border: 0;
}

fieldset.grupo input {
	float: left;
	margin-right: 1rem;
}

input, select, textarea {
	border-radius: 5px;
}

button {
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-primaria);
    padding: 5px 5px 5px 5px;
    
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-secundaria); 
}

.mainForm {
	display: flex;
	justify-content: center;
}

.divForm {
	display: flex;
	background: var(--cor-terciaria);
	color: var(--cor-primaria);
	border: 1px solid var(--cor-secundaria);
	gap: 100px;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
	padding: 0.2rem;
	border: 1px solide var(--cor-secundaria);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	display: block;
}

.cammpo select option {
	padding: 1rem;
}

.campo input:focus, .campo select:focus, .campo textare:focus {
	background: var(--cor-quaternaria);
	color: var(--cor-primaria);
}

#check {
	display: inline-block;
}

a:hover{													/* Altera a propriedade antes do sinal ":" na passagem do mouse. */
    background-color: var(--cor-quarternaria);
}

@media (max-width: 1000px) {
    main{
        flex-direction: column-reverse;
    }
    
	header {
		flex-direction: column;
		justify-content: center;
		padding: 10px 0px 10px 0px;
	}
    
}