@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,100&display=swap');


* {															/* Aplica os valores às propriedades listadas de todos os elementos. */
	padding: 0;
	margin: 0;
}

:root {														/* Cria variáveis globais. */
	--cor-primaria: #F6F6F6;
	--cor-secundaria: #000000;
	--cor-terciaria: #696969;
	--cor-quarternaria: #0000CD;
	
	--fonte-primaria: font-family: 'Roboto', sans-serif;
}

body {
	display: flex;											/* Permite maior controle no posicionamento dos elementos filhos. */
	box-sizing: border-box;									/* Impede que os elementos filhos contidos no elemento pai ultrapassem os limites do elemento pai. */
	flex-direction: column;									/* Define a direção dos elementos filhos entre row ou column. */
	
	font-family: var(--fonte-primaria);
    font-size: 1rem;										/* A unidade rem (1rem = 16px) tem a finalidade de tornar a fonte dinâmica para páginas responsívas. */
    font-weight: 100;
}

header {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	background-color: var(--cor-primaria);	
	
	position: fixed;
    top: 0;    
    width: 100%;
}

main {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	justify-content: space-between;
	
	margin-top: 7%;
}

.mainForm {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	justify-content: center;
}

table {
	background-color: var(--cor-terciaria);
	border: 1px solid var(--cor-secundaria);
}

th, td {
	padding: 0;
	border: 1px solid var(--cor-secundaria);
	color: var(--cor-primaria);
	width: 100px;
}

footer {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	justify-content: center;
									/* Define a posição dos elementos filhos dentro do elemento pai. */
    position: fixed;
    bottom: 0;
    width: 100%;
    
	color: var(--cor-primaria);
	background-color: var(--cor-secundaria);
	font-weight: 500;
}

form {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	
	padding: 0.5rem;
}

.formEspacado {
	gap: 25px;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
}

div {
	display: inline-block;
	padding: 0px 5px 0px 5px;
	gap: 5px;
}

.divForm {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	
	background: var(--cor-terciaria);
	color: var(--cor-primaria);
	border: 1px solid var(--cor-secundaria);
}

.divFlex {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
}

a {
    display: flex;    
    justify-content: center;
    
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-primaria);
    text-decoration: none;									/* Retira o sublinhado dos links. */
    padding: 5px 5px 5px 5px;								/* Primeiro valor = lado superior, segundo valor = lado direito, terceiro valor = lado inferior, quarto valor = lado esquerdo */
    gap: 25px;												/* Determina o espaçamento entre os elementos filhos contidos no elemento pai. */
    width: auto;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-secundaria);    
}


a:hover{													/* Altera a propriedade antes do sinal ":" na passagem do mouse. */
    background-color: var(--cor-quarternaria);
}

p {
	text-align: justify;
	color: var(--cor-secundaria);
	padding: 0rem 2rem 0rem 2rem;
	width: 50%;
}

strong {
	font-size: 2rem;
    font-weight: 500;
    color: var(--cor-quarternaria);
}

fieldset {
	border: 0;
}

fieldset.grupo input {
	float: left;
	margin-right: 1rem;
}

input, select, textarea {
	border-radius: 5px;
}

button {
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-primaria);
    padding: 5px 5px 5px 5px;    
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-secundaria); 
}

input[type="text"], input[type="email"], select, textarea {		/* Propriedades dentro desses objetos. */
	padding: 0.2rem;
}

.grupo {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
}

select{
	width: 25rem;
}

input:focus, select:focus, textarea:focus {
	background: var(--cor-quarternaria);
	color: var(--cor-primaria);
}

@media (max-width: 1000px) {
    
    html {
    	justify-content: center;
    }
    
    main{
        flex-direction: column-reverse;
    }
    
    .mainForm {
    	box-sizing: border-box;
		flex-direction: column-reverse;
		margin-top: 15%;
	}
    
	header {
		flex-direction: column;
		justify-content: center;
		padding: 10px 0px 10px 0px;
	}
	
	.divHeader {
		flex-direction: column;
		justify-content: center;
		padding: 10px 0px 10px 0px;
	}
    
}